<section>
	<input type="checkbox" ng-model="$ctrl.nf.fait" aria-label="Tâche réalisée ou pas" />
	<form novalidate layout="column" ng-submit="$ctrl.basculerEdition()" flex ng-click="$event.stopPropagation()">
		<label ng-if="ctrl.nf.fait || !$ctrl.editable" ng-click="$ctrl.basculerEdition($event)" ng-bind="$ctrl.nf.texte"></label>
		<input	ng-model="$ctrl.nf.texte" 
				 ng-if="!ctrl.nf.fait && $ctrl.editable"
				 aria-label="Description de la tâche" 
				 autofocus />
	</form>
	<button ng-click="$ctrl.dispose($event)">
		X
		<!-- <md-icon md-svg-src="js/flat.svg"></md-icon> -->
	</button>
</sectiont>