.alx-cloneNode {opacity: 0.5;}

h1 {
    background      : green;
}

composant-infirmier.dropCandidate > * {
    background      : lightyellow;
}

composant-infirmier.dropCandidate.canDrop > * {
    background      : yellow;
}
